#header
{
  float: left;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 60px;
  color: whitesmoke;
  height: 37px;
  border-bottom: solid 2px rgb(141, 192, 99);
}
#text
{
  color: rgb(199, 225, 247);
  float: left;
  font-size: 25px;
  width: 750px;
  margin-top: 17px;
  margin-left: 25px;
}
#baner
{
  float: left;
  height: 100px;
  width: 600px;
  margin-top: 9px;
  margin-left: 100px;
  border-radius: 15px;
  background-image: url('C:\Users\szymk\ProjektStrony\StronaBudowlana\src\app\img\baner.jpg');
}
#baner2
{
  background: grey;
  border-radius: 20px;
  height: 490px;
  width: 150px;
  float: right;
  margin-top: 25px;
  margin-right: 45px;
  text-align: center;
}


