<span id = "header">Informacje</span>

<div id = "baner"></div>

<div style = "clear: both;"></div>

<div id = "text">

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et scelerisque odio, faucibus malesuada leo.
  Praesent ligula nunc, eleifend at quam vel, auctor tincidunt elit. Proin bibendum iaculis varius.
  Aenean ut metus vel nisl finibus finibus eget in lacus. Proin ac lectus ornare, porttitor dolor vitae,
  scelerisque libero. Nullam egestas euismod pulvinar. Sed a augue odio. Sed in nibh efficitur, tincidunt elit non,
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et scelerisque odio, faucibus malesuada leo.
  Praesent ligula nunc, eleifend at quam vel, auctor tincidunt elit. Proin bibendum iaculis varius.
  Aenean ut metus vel nisl finibus finibus eget in lacus. Proin ac lectus ornare, porttitor dolor vitae,
  scelerisque libero. Nullam egestas euismod pulvinar. Sed a augue odio. Sed in nibh efficitur, tincidunt elit non,
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et scelerisque odio, faucibus malesuada leo.
  Praesent ligula nunc, eleifend at quam vel, auctor tincidunt elit. Proin bibendum iaculis varius.
  Aenean ut metus vel nisl finibus finibus eget in lacus. Proin ac lectus ornare, porttitor dolor vitae,
  scelerisque libero. Nullam egestas euismod pulvinar. Sed a augue odio. Sed in nibh efficitur, tincidunt elit non,


</div>

<div id = "baner2">Baner reklamowy</div>
