<div id = "container">
  <div id = "header">


    <mat-icon style="float: left; color: white; font-size: 110px; padding-left:  20px; padding-top: 5px;">circle</mat-icon>
      <span style="float: left; font-size: 16px; padding-top: 50px; padding-left: 10px;">LOGO</span>
      <div style="float: left; color: rgb(141, 192, 99); padding-top: 50px; padding-left: 90px;">Nazwa Firmy</div>
    <div style="clear: both;"></div>

    <div id = "contactmail">
      <mat-icon>mail</mat-icon>
      <span style="font-size: 30px; float: right; margin-top: px; margin-left: 15px;">mikolajszymkowiak@o2.pl</span>
    </div><div style="clear: both;"></div>

    <div id = "contactphone">
      <mat-icon>phone</mat-icon>
      <span style="font-size: 30px; float: right; margin-top: px; margin-left: 15px;">123-456-789</span>
    </div><div style="clear: both;"></div>

    <a href="https://www.facebook.com" target="_blank">
    <div id = "contactfb">
      <mat-icon>facebook</mat-icon>
      <span style="font-size: 30px; float: right; margin-top: 4px; margin-left: 15px">NazwaFacebooka</span>
    </div><div style="clear: both;"></div>
    </a>
  </div><div style="clear: both;"></div>

  <div id = "menu">
    <div class = "menu1" id="strona" (click) = "selectMenu = 1;" >Strona Główna<mat-icon class = "iconbar">home</mat-icon></div>
    <div class = "menu1" id="infor" (click) = "selectMenu = 2;" >Informacje<mat-icon class = "iconbar">info</mat-icon></div>
    <div class = "menu1" id="galeria" (click) = "selectMenu = 3;" >Galeria<mat-icon class = "iconbar">collections</mat-icon></div>
    <div class = "menu1" id="cennik" (click) = "selectMenu = 4;" >Cennik<mat-icon class = "iconbar">paid</mat-icon></div>
    <div class = "menu1" id="kontakt" (click) = "selectMenu = 5;" >Kontakt<mat-icon class = "iconbar">contacts</mat-icon></div>
  </div>

  <div id = "content">
    <span [ngSwitch]="selectMenu">
      <div *ngSwitchCase="1"><app-stronaglowna></app-stronaglowna></div>
      <div *ngSwitchCase="2"><app-informacje></app-informacje></div>
      <div *ngSwitchCase="3"><app-galeria></app-galeria></div>
      <div *ngSwitchCase="4"><app-cennik></app-cennik></div>
      <div *ngSwitchCase="5"><app-konakt></app-konakt></div>
    </span>
  </div><div style="clear: both;"></div>

  <div id = "footer">&copy; 2021 Wszystkie prawa zastrzeszone </div>

</div>
