body
{
  background-image: url('C:\Users\szymk\ProjektStrony\StronaBudowlana\src\app\img\tlo.jpg');
  cursor: default;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
