<span id = "header">Cennik</span><div style="clear: both;"></div>
<div id = "table">


    <div class = "tabela" style="margin-left: 20px">Nazwa usługi</div>
    <div class = "tabela">Cena netto (m2)</div>
    <div class = "tabela">Wpisz metraż (m2)</div>
    <div class = "tabela">Cena netto przybliżona za usługę</div><div style="clear: both;"></div>

    <div class = "tabela1" style="margin-left: 20px; width: 83px;">Nazwa usługi</div>
    <div class = "tabela1" style="width: 101px;"><span class = "cena">{{cena1}}zł</span></div>
    <div class = "tabela1" style="width: 118px;"><input #input1 type="number" value="0" max=1000 min=0 class = "metraz"><button class = "btn" (click) = "oblicz1()">Oblicz</button></div>
    <div class = "tabela1" style="width: 205px;"><span class = "cena2">160zł</span></div><div style="clear: both;"></div>

    <div class = "tabela1" style="margin-left: 20px; width: 83px;">Nazwa usługi</div>
    <div class = "tabela1" style="width: 101px;"><span class = "cena">{{cena2}}zł</span></div>
    <div class = "tabela1" style="width: 118px;"><input #input2 type="number" value="0" max=1000 min=0 class = "metraz"><button class = "btn" (click) = "oblicz2()">Oblicz</button></div>
    <div class = "tabela1" style="width: 205px;"><span class = "cena2">260zł</span></div><div style="clear: both;"></div>

    <div class = "tabela1" style="margin-left: 20px; width: 83px;">Nazwa usługi</div>
    <div class = "tabela1" style="width: 101px;"><span class = "cena">{{cena3}}zł</span></div>
    <div class = "tabela1" style="width: 118px;"><input #input3 type="number" value="0" max=1000 min=0 class = "metraz"><button class = "btn" (click) = "oblicz3()">Oblicz</button></div>
    <div class = "tabela1" style="width: 205px;"><span class = "cena2">5560zł</span></div><div style="clear: both;"></div>

    <div class = "tabela1" style="margin-left: 20px; width: 83px;">Nazwa usługi</div>
    <div class = "tabela1" style="width: 101px;"><span class = "cena">{{cena4}}zł</span></div>
    <div class = "tabela1" style="width: 118px;"><input #input4 type="number" value="0" max=1000 min=0 class = "metraz"><button class = "btn" (click) = "oblicz4()">Oblicz</button></div>
    <div class = "tabela1" style="width: 205px;"><span class = "cena2">3360zł</span></div><div style="clear: both;"></div>

    <div class = "tabela1" style="margin-left: 20px; width: 83px;">Nazwa usługi</div>
    <div class = "tabela1" style="width: 101px;"><span class = "cena">{{cena5}}zł</span></div>
    <div class = "tabela1" style="width: 118px;"><input #input5 type="number" value="0" max=1000 min=0 class = "metraz"><button class = "btn" (click) = "oblicz5()">Oblicz</button></div>
    <div class = "tabela1" style="width: 205px;"><span class = "cena2">6360zł</span></div><div style="clear: both;"></div>

    <div class = "tabela1" style="margin-left: 20px; width: 83px;">Nazwa usługi</div>
    <div class = "tabela1" style="width: 101px;"><span class = "cena">{{cena6}}zł</span></div>
    <div class = "tabela1" style="width: 118px;"><input #input6 type="number" value="0" max=1000 min=0 class = "metraz"><button class = "btn" (click) = "oblicz6()">Oblicz</button></div>
    <div class = "tabela1" style="width: 205px;"><span class = "cena2">5260zł</span></div><div style="clear: both;"></div>





  </div>
